* {
    box-sizing: border-box;
  }
  
  html {
    font-size: 16px;
  }
  
  body {
    font-family: sans-serif;
  }
  
  .label {
    border: 2px solid black;
    width: 540px;
    margin: 20px auto;
    padding: 0 7px;

    transition: all 0.5s;
  }

  .label:hover {
    transform: scale(1.02);
  }
  
  header h1 {
    text-align: center;
    margin: -4px 0;
    letter-spacing: 0.15px
  }
  
  p {
    margin: 0;
  }
  
  .divider {
    border-bottom: 1px solid #888989;
    margin: 2px 0;
    clear: right;
  }
  
  .bold {
    font-weight: 800;
  }
  
  .right {
    float: right;
  }
  
  .lg {
    height: 10px;
  }
  
  .lg, .md {
    background-color: black;
    border: 0;
  }
  
  .md {
    height: 5px;
  }
  
  .sm-text {
    font-size: 0.85rem;
  }
  
  .personal-info h1 {
    margin: -5px -2px;
    overflow: hidden;
  }
  
  .personal-info span {
    font-size: 1.2em;
    margin-top: -7px;
  }
  
  .indent {
    margin-left: 1em;
  }

  .personal-value p:not(.no-divider) {
    border-bottom: 1px solid #888989;
  }
  
  .description {
    margin: 10px 0;
  }

  footer img {
    width: 40px;
    display: block;
  }

  footer button {
    display: block;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    margin: -6px auto 0 auto;

    transition: all 0.3s;
  }

  footer button:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
  footer button:active {
    filter: blur(2px);
  }
